body{
    position: relative;
    
}
canvas {
    position: relative;
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    size: border-box;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    background-color: white;
}
#start{
    width: 200px;
    height: 50px;
    border-radius: 20px;
    position: fixed;
    top: 10%;
    left: 10%;
    transform: translate(-50%,-50%);
    transition: 100ms;
}
#start:active{
    width: 210px;
    height: 55px;
}
#text1{
    font-size: xx-large;
    position: fixed;
    transform: translate(-50%,0);
    left: 10%;
    top: 20%;
}
#show-pro{
    width: 20%;
    height: 75px;
    position: fixed;
    top: 30%;
}
.lenth-out{
    height: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
#protect-time{
    background-color: rgba(140, 253, 255, 0.5);
    height: 25px;
    width: 20%;
}
#weight{
    width: 20%;
    height: 75px;
    position: fixed;
    top: 40%;
}
#weight-lenth-border{
    height: 25px;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}
#weight-length{
    background-color: tan;
    height: 25px;
    width: 0;
    transition: 500ms;
}